packages/front-end/config/client.env
packages/front-end/config/server.env
packages/front-end/assets
packages/front-end/builded-server

node_modules

packages/*/node_modules
packages/*/dist
packages/*/config/.env
packages/*/config/test-e2e.env

packages/**/env/.env
packages/**/env/dev.env
packages/**/env/test.env
packages/**/env/production.env

packages/api-server/tsconfig.build.tsbuildinfo